#svgRoot {
    position: absolute;
    z-index: 114514; 
    left: 0;
    top: 0;
}

.otherLayer {
    position: absolute;
    z-index: 114500; 
    left: 0;
    top: 0;
    pointer-events: none;
}

body {
    touch-action: none;
}